{erl_opts, [debug_info]}.
{deps, [
    {riakc, {git, "https://github.com/basho/riak-erlang-client.git", {tag, "2.5.3"}}}
]}.


{pre_hooks, [
        {compile, "erlc -o mapred_src/ mapred_src/*.erl "}
        %%{compile, "mv mapred_src/*.beam /usr/lib/riak/lib/riak_kv-2.1.7-0-gbd8e312/ebin/my_map.beam"}
    ]
}.
